@import url('https://fonts.googleapis.com/css2?family=Asap+Sharp:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
    font-family: 'DM Sans', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    color: rgb(64, 64, 76);
}

.active {
    background-color: rgb(230, 226, 226);
    display: inline;
}

.flxbox {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.grid-container {
  max-width:  1024px;
  display: grid;
  grid-template-columns: 80% 20%; /* Or 40% 60% depending on your design */
  margin: 0 auto;
}
/* Optional styling to visualize the blocks */
.main-content { padding: 20px; }
.sidebar { 
    margin-top: 2rem;
    padding: 20px; 
}

.sidebar > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid gray;
    padding: 5px;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(57, 64, 88);
    padding: 2px;
}

a:hover {
    background-color: rgb(230, 225, 225);
}

ul>li {
    padding: 4px;
    border-radius: 4px;
}

.mynav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background-color: rgb(207, 208, 209);
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
}

.register_box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    margin-top: 2rem;
    background-color: rgb(243, 243, 243);
    padding: 1rem;
    border-radius: 3px;
    gap: 1rem;
}

.btn {
    height: 40px;
    border: none;
    padding: 3px;
    border-radius: 2px;
}

input[type=email] {
    height: 40px;
    border: none;
    padding: 3px;
    border-radius: 2px;
}

input[type=password] {
    height: 40px;
    border: none;
    padding: 3px;
    border-radius: 2px;
}

.btn-submit {
    height: 40px;
    border: none;
    padding: 3px;
    border-radius: 2px;
    border: 1px solid blue;
    background-color: rgb(36, 36, 41);
    color: white;
}

.success{
    background-color: rgb(243, 255, 226);
    max-width: 400px;
    padding: 3px;
    border-radius: 2px;
}


.btn-submit:hover {
    background-color: rgb(18, 19, 20);
    border-radius: 2px;
}

input[type=button]:hover {
    background-color: rgb(155, 153, 153);
    border-radius: 2px;
}

hr {
    border: none;
    height: 0.75px;
    background-color: silver;
}
