<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>{{ request.endpoint }}</title>
</head>
<style>
</style>

<body>
    <nav class="mynav">
        <div>
            <h2>
                Aliraza's Blog
            </h2>
        </div>
        <ul class="flxbox">
            <li class="{%if request.endpoint == 'home'%} active {% endif %}"><a href="/">Home</a></li>
            <li class="{%if request.endpoint == 'about'%} active {% endif %}"><a href="/about">About</a></li>
            <li class="{%if request.endpoint == 'register'%} active {% endif %}"><a href="/register">Register</a></li>
            <li class="{%if request.endpoint == 'login'%} active {% endif %}"><a href="/login">Login</a></li>
        </ul>
    </nav>
    <div class="grid-container">

        <div class="main-content">
            {% block content%}
            {% endblock content%}
        </div>
        <div class="sidebar">
            <div>
                <h3>Sidebar</h3>
                <hr>
                <div style="display: flex; flex-direction: column; gap: 0.5rem; margin-top: 1rem;">
                    <a href="/">Latest Posts</a>
                    <a href="/">Annoucements</a>
                    <a href="/">Updates</a>
                </div>

            </div>
        </div>
    </div>
</body>

</html>