{% extends 'base.html' %}

{% block content %}
{% for post in posts %}
<div class="container">
    <article style="margin-top: 3rem;">
        <h2>
        {{ post['title']}}
        </h2>
        <div>
            <span style="background-color: rgb(246, 246, 247); padding: 5px; margin-top: 5px; font-size: small;">
        By {{ post['author'] }} on {{ post['createdAt']}}
            </span>
        </div>
        <p style="margin-top: 1rem;">
        {{ post['content']}}
        </p>
    </article>
</div>
{% endfor %}
{% endblock content %}